
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
p {
        text-align: left;
    }
h1 {
    font-size: 50px;
    box-shadow: 60px -16px blue;
    
}
figcaption {
    font-family: arial;
    color: grey
}

caption { size:300px;
    
}

table {
    background-color: lightblue

}

a:hover {
  color: red;
  text-decoration: underline;
}

a {
  color: blue;
  text-decoration: underline;
}

.botaoHome {
    background-color: rgb(31, 23, 23);
    text-decoration: none;
    color: grey;
    padding: 10px;

}